[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "==2.28.2"
backoff = "==1.8.0"
singer-python = "==5.13.0"

[dev-packages]
singer-tools = "*"
target-csv = "*"
black = "*"
isort = "*"
flake8 = "*"
mypy = "*"
types-requests = "*"
pre-commit = "*"

[requires]
python_version = "3.9"
python_full_version = "3.9.16"
